<div class="container p-3">
        <div class="card">
          <div class="card-header">
            {{ item.name }}
          </div>
          <div class="card-body">
            <h5 class="card-title">⏺<b>{{ item.status }}</b></h5>
            <p class="card-text">Текущий показатель: {{ item.current_data }} {{ item.unit_of_measure }}</p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseParams{{item.id}}" aria-expanded="false" aria-controls="collapseParams{{item.id}}">
                Управлять
            </button>
          </div>
<div class="collapse container" id="collapseParams{{item.id}}">
    <button class="btn btn-primary" type="button">
        Выключить
    </button>
</div>
</div>
</div>