{% extends "base.html" %}
{% block title %}<title>Все устройства</title>{% endblock %}
{% block content %}
  <div class="wrapper">
    <div class="container divider">
      <h4>Освещение</h4>
      <hr/>
    </div>
    <div class="container">
    {% for item in light_items %}
      {% include 'device_card.html' with item=item %}    
    {% endfor %}
    </div>
    <div class="container divider">
      <h4>Датчики</h4>
      <hr/>
    </div>
    <div class="container">
    {% for item in sensor_items %}
      {% include 'device_card.html' with item=item %}    
    {% endfor %}
    </div>
    <div class="container divider">
      <h4>Дистанционное управление устройствами</h4>
      <hr/>
    </div>
    <div class="container">
    {% for item in rc_items %}
      {% include 'device_card.html' with item=item %}    
    {% endfor %}
    </div>
{% endblock content %}

