{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<p>Такой логин и пароль не найден, попробуйте еще раз.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>У вашего аккаунта нет доступа к этой странице. Чтобы продолжить,
    залогиньтесь в роли пользователя с соответствующими полномочиями.</p>
    {% else %}
    <p>Залогиньтесь,чтобы продолжить.</p>
    {% endif %}
{% endif %}
<div class="container p-5">
        <div class="card card-signin">
          <div class="card-header">
            Вход
            <button type="button" class="close" data-dismiss="card" aria-label="Close" href="/">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <h5 class="card-title">Введите свои данные</h5>
            <form class="form-signin" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="login" id="id_username" name="username" class="form-control mb-2" placeholder="Логин" required autofocus>
                <input type="password" id="id_password" name="password" class="form-control mb-2" placeholder="Пароль" required>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Запомнить пароль</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="login">Войти</button>
                <hr class="my-4">
            </form>
          </div>
        </div>
</div>

{% endblock content %}
