{% extends "base.html" %}
{% block title %}<title>Все устройства</title>{% endblock %}
{% block content %}
  <div class="wrapper">
  {% for message in messages %}
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Ошибка</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  {% endfor %}

    <div class="container divider">
      <h4>Освещение</h4>
      <hr/>
    </div>
    <div class="container">
    {% if light_items %}
      {% for item in light_items %}
        {% include 'cards/light_card.html' with item=item %}    
      {% endfor %}
    {% else %}
    <h6>У вас нет осветительных устройств!</h6>
    {% endif %}
    </div>
    <div class="container divider">
      <h4>Датчики</h4>
      <hr/>
    </div>
    <div class="container">
    {% if sensor_items %}
    {% for item in sensor_items %}
      {% include 'cards/sensor_card.html' with item=item %}    
    {% endfor %}
    {% else %}
    <h6>У вас нет датчиков!</h6>
    {% endif %}

    </div>
    <div class="container divider">
      <h4>Дистанционное управление устройствами</h4>
      <hr/>
    </div>
    <div class="container">
    {% if rc_items %}
      {% for item in rc_items %}
        {% include 'cards/rc_card.html' with item=item %}    
      {% endfor %}
    {% else %}
    <h6>У вас нет устройств дистанционного управления!</h6>
    {% endif %}

    </div>
  </div>
{% endblock content %}

