<div class="container p-3">
  <div class="card">
    <div class="card-header">
      {{ item.name }}
    </div>
    <div class="card-body">
      <h5 class="card-title">⏺<b>{{ item.status }}</b></h5>
      <p class="card-text">Тип: {{ item.type }}</p>
      <p class="card-text">Текущий уровень яркости: {{ item.brightness }}</p>
      <button class="btn btn-primary mb-4" type="button" data-toggle="collapse" data-target="#collapseParams{{item.id}}" aria-expanded="false" aria-controls="collapseParams{{item.id}}">
          Управлять
      </button>
    
    <div class="collapse" id="collapseParams{{item.id}}">
      <form action="light_brightness" method="post">
        {{ form }}
        <div class="container row mb-3">
          <p class="card-text col-2">Уровень яркости: </p>
          {% csrf_token %}
          <div class="container slidecontainer col-5">
            <input type="range" min="0" max="255" value="128" class="slider" id="brightness_range" name="brightness">
          </div>
          <input type="hidden" name="controller" value="{{item.id}}">
          <button class="btn btn-primary" type="button submit" value="light_brightness">
            Применить
          </button>
        </div>
      </form>
      {% if item.type == 'RGB' %}
        <div class="container row align-items-center">
          <p class="card-text col-2">Цвет освещения: </p>
          <div class="container slidecontainer col-5">
            <p><b>R</b><input type="range" min="0" max="255" value="128" class="slider" id="r" name="brightness"></p>
            <p><b>G</b><input type="range" min="0" max="255" value="128" class="slider" id="g" name="brightness"></p>
            <p><b>B</b><input type="range" min="0" max="255" value="128" class="slider" id="b" name="brightness"></p>
          </div>
          <input type="hidden" name="controller" value="{{item.id}}">
          <button class="btn btn-primary" type="button submit" value="light_brightness">
            Применить
          </button>
        </div>
        <div id="rgb_out">Превью цвета освещения</div>

      {% endif %}
      <div class="container">
        <button class="btn btn-primary mt-3" type="button">
          Выключить
        </button>
      </div>
    </div>
    </div>
  </div>
</div>
