@media (min-width: 768px) {
    .navbar-nav.navbar-center {
      position: relative;
      left: 45%;
      transform: translatex(-45%);
    }
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin-top: 0 !important;
}
.navitem-cont :hover {
  background-color: #C9EBE8 !important;
}
.nav-item {
  float: left;
  padding: 12px;
  color: white;
  text-align: center;
}
.btn-outline-primary, .btn-outline-primary:active {
  width: 33%;
  border-color: #1DBAA0 !important;
  color: black !important;
  background-color: #3ACCB3 !important;
}
@media (max-width: 768px) {
.navbar-collapse.collapse:not(.show) {
    display: none !important;
}
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #1DBAA0;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1DBAA0;
  cursor: pointer;
}

.btn-primary {
  border-color: #1DBAA0 !important;
  background: #3ACCB3 !important;
}
fieldset{
  border: none;
}
output{
  display: inline-block;
  min-width: 2.5em;
}
label, output{
  padding: 2px 9px;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 1.1em;
}
label[for=r], output[for=r]{
  background-color: #f00;
}
label[for=g], output[for=g]{
  background-color: #0f0;
}
label[for=b], output[for=b]{
  background-color: #00f;
}
#hex{
  min-width: 4.5em;
  font-size: 3em;
  background: rgba(255,255,255,.3);
}

.blog-header {
   background-color: #D7F0EE !important; 
  background-image: url("hoffman.png"); 
  background-repeat:repeat;
}
/* 
.navbar {
  background-image: url("dark-mosaic.png"); 
  background-repeat:repeat;
} */

.content {
  background-image: url("dimension.png") !important; 
  background-repeat:repeat;
}